<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
<div class="col-md-9">
    <h1>Rooms#amenities</h1>
    <p>Find me in app/views/rooms/amenities.html.erb</p>
</div>


